.menu-icon {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 6px;
  left: 170px;
  z-index: 1001;
  color: white;
  border-radius: 5px;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #605f5f;
  color: white;
  position: fixed;
  top: 0;
  left: -250px; 
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 75px;
  overflow: hidden;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.sidebar a:hover {
  color: #1890ff;
}

.content {
  padding: 70px 20px 20px 20px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  transition: filter 0.3s ease;
}

.content.blur {
  filter: blur(5px);
  pointer-events: none;
}
